################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/aspnetrun-microservices/v16
/.vs
/src/Services/Catalog/Catalog.API/bin/Debug/net5.0
